# Dependencies
node_modules/
frontend/.next/
frontend/out/

# Python
backend/__pycache__/
backend/venv/
*.pyc

# Uploads
uploads/*
!uploads/.gitkeep

# Env
.env
.env.local

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
